* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


#container {
    border: 2px black solid;
    width: 600px;
    height: 600px;
    display: grid;
}

.sketch-divs {
    border: 1px black solid;
}